.jq-selectbox.modal-filter__select {
  .jq-selectbox__select {
    border: 2px solid #e1e4ec;
    border-radius: 2px;
    box-shadow: none;
    height: 75px;
    background: none;
    padding: 0 45px 0 20px;
    font: 400 22px / 30px 'Fira Sans', sans-serif;
    color: #2c2f2e;
  }
  .jq-selectbox__trigger {
    border: none;
    &-arrow {
      width: 9px;
      height: 9px;
      top: 30px;
      left: 2px;
      right: auto;
      border: none;
      border-bottom: 2px solid #a3abb5;
      border-right: 2px solid #a3abb5;
      transform: rotate(45deg);
    }
  }
  .jq-selectbox__select-text {
    margin-top: 22px;
  }
  .jq-selectbox__select-text.placeholder {
    color: #a3abb5;
  }
  .jq-selectbox__dropdown {
    border: 2px solid #e1e4ec;
    border-radius: 2px;
    box-shadow: none;
    margin-top: -2px;
    font: inherit;
    ul li {
      padding: 9px 20px 10px;
    }
  }
}
.jq-selectbox.modal-filter__select.changed {
  .jq-selectbox__select-text {
    margin-top: 31px;
  }
}

.jq-selectbox.modal-filter__sl-currency {
  .jq-selectbox__select {
    background: #e1e4ec;
    border-radius: 0px 2px 2px 0px;
    height: 41px;
    width: 67px;
    border: none;
    box-shadow: none;
    font: 400 20px / 22px 'Fira Sans', sans-serif;
    color: #064f92;
    padding: 0 40px 0 15px;
    // font: 400 20px / 22px 'PT Rouble Sans', sans-serif;
  }
  .jq-selectbox__select-text {
    min-width: 12px;
    padding-top: 10px;
  }
  .jq-selectbox__trigger {
    border: none;
    &-arrow {
      right: 16px;
      top: 16px;
      border: none;
      width: 7px;
      height: 7px;
      border-bottom: 1px solid #a3abb5;
      border-right: 1px solid #a3abb5;
      transform: rotate(45deg);
    }
  }
  .jq-selectbox__dropdown {
    font: inherit;
    border: none;
  }
}