.filter {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 2px 13px 0px rgba(18,46,72,0.05);
  &__main {
    padding: 14px;
    @media screen and (min-width: 480px) {
      padding: 28px;
    }
  }
  &__block.hidden {
    display: none;
  }
  &__select-wrapper {
    width: 100%;
    margin-bottom: 17px;
    position: relative;
  }
  &__placeholder {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: 400 22px / 30px 'Fira Sans', sans-serif;
    color: #a3abb5;
    padding: 24px 24px 0 24px;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 80%;
  }
  &__select {
    width: 100%;
  }
  &__select.changed + .filter__placeholder {
    font: 500 11px / 21px 'Fira Sans', sans-serif;
    padding: 10px 20px 0 ;
  }
  &__sl-item {
    width: 100%;
    // padding: 0 0 10px;
  }
  &__sl-label {
    font: 400 16px / 27px 'Fira Sans', sans-serif;
    color: #696d72;
    margin-right: 30px;
    margin-bottom: 15px;
    padding-top: 5px;
  }
  &__sl-inputs {
    display: flex;
    margin-bottom: 15px;
    &_long {
      .filter__sl-input {
        max-width: 128px;
      }
      .filter__sl-unit-text {
        font-size: 15px;
        line-height: 21px;
        color: #2c2f2e;
      }
    }
  }
  &__sl-input {
    max-width: 98px;
    border: 2px solid #e1e4ec;
    border-radius: 2px;
    font: 400 15px / 21px 'Fira Sans', sans-serif;
    color: #2c2f2e;
    text-align: center;
    padding: 7px 15px 5px;
  }
  &__sl-divider {
    width: 20px;
    height: 41px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 7px;
      height: 2px;
      background: #2c2f2e;
      top: 19px;
      left: 6px;
    }
  }
  &__sl-unit {
    font: 400 16px / 22px 'Fira Sans', sans-serif;
    color: #064f92;
    margin-left: 12px;
    &-text {
      margin-top: 10px;

    }
  }
  &__sl-prefix {
    margin-right: 14px;
    &-text {
      font: 400 15px / 21px 'Fira Sans', sans-serif;
      color: #2c2f2e;
      margin-top: 9px;
    }
  }
  &__radio-btns {
    margin: 0 -5px 10px;
    display: flex;
    flex-wrap: wrap;
  }
  &__radio-label {
    margin: 0 5px 10px;
    display: block;
  }
  &__radio-input {
    display: none;
    &:checked + .filter__radio-text {
      background: #064f92;
      color: #fff;
    }
  }
  &__radio-text {
    font: 400 12px / 15px 'Fira Sans', sans-serif;
    color: #696d72;
    background: #e6e9f2;
    border-radius: 15px;
    padding: 8px 12px 7px;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  &__btns {
    display: flex;
    border-top: 2px solid #eff0f4;
    height: 65px;
  }
  &__all-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-right: 2px solid #eff0f4;
    font: 500 14px / 12px 'Fira Sans', sans-serif;
    text-transform: uppercase;
    color: #004b90;
    flex: 1 1 auto;
    padding: 5px 15px;
    cursor: pointer;
    &:hover,
    &:active {
      box-shadow: 1px 2px 13px 0px rgba(18,46,72,0.05);
      color: $hovercolor;
      .filter__all-filters-text {
        &:before {
          border-color: $hovercolor;
        }
      }
    }
    &-text {
      padding-right: 15px;
      position: relative;
      transition: all 0.3s ease;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 6px;
        height: 6px;
        border-bottom: 2px solid #064f92;
        border-right: 2px solid #064f92;
        transition: all 0.3s ease;
        transform: rotate(45deg);
      }
    }
  }
  &__all-filters.active {
    .filter__all-filters-text {
      &:before {
        transform: rotate(-135deg);
        top: 3px;
      }
    }
  }
  &__save-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    flex: 0 0 auto;
    width: 70px;
    &:hover,
    &:active {
      box-shadow: 1px 2px 13px 0px rgba(18,46,72,0.05);
      .filter__save-icon {
        fill: $hovercolor;
      }
    }
  }
  &__save-icon {
    fill: #dedfe5;
    transition: all 0.3s ease;
  }
}