.jl-header {
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  &__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    min-height: 100%;
    max-width: none;
  }
  &__text {
    padding: 20px 0 90px;
    text-align: center;
  }
  &__title {
    font: 700 70px / 70px 'Fira Sans', sans-serif;
    color: #fefefe;
    letter-spacing: 2px;
    margin-bottom: 20px;
    &_red {
      color: #ff5642;
    }
  }
  &__subtitle {
    font: 400 23px / 23px 'Fira Sans', sans-serif;
    color: #fff;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
  }
}