.location {
  background: $secondbg;
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px 0;
    margin: 0;
    &_narrow {
      padding-bottom: 0;
    }
  }
  &__item {
    position: relative;
    margin-right: 10px;
    padding-right: 16px;
    &:before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      opacity: 0.7;
      border-bottom: 1px solid #9fa5a6;
      border-right: 1px solid #9fa5a6;
      position: absolute;
      top: 50%;
      right: 0;
      transform: rotate(-45deg) translateY(-3px);
    }
    &:last-child {
      &:before {
        display: none;
      }
    }
  }
  &__link {
    display: inline-block;
    text-decoration: none;
    font: 400 14px / 18px 'Fira Sans', sans-serif;
    color: #6b6f73;
    @include texthover;
  }
  &__last {
    display: inline-block;
    font: 400 14px / 18px 'Fira Sans', sans-serif;
    color: #6b6f73;
  }
  &__icon {
    margin-top: 8px;
    fill: #6b6f73;
    transition: all 0.3s ease;
    &:hover,
    &:active {
      fill: $hovercolor;
    }
  }
  &_white {
    background: none;
    .location__item {
      &:before {
        border-color: #fff;
      }
    }
    .location__link,
    .location__last {
      color: #f3f7f8;
    }
    .location__link {
      @include texthover;
    }
    .location__icon {
      fill: #f3f7f8;
      &:hover,
      &:active {
      fill: $hovercolor;
      }
    }
  }
}