$firstbackground: #fff;
$fontcolor: #3d4140;
$linkcolor: #5a97cb;
$titlecolor: #0a1828;
$circlecolor: #232625;
$inputcolor: #888f98;
$headerfirst: #0a1828;
$navcolor: #eeeeee;
$hovercolor :#E83F33;
$topbtns: #fff;
$headersecond: #07101b;
$libra:#4c8dc8;
$heart: #ea5c57;
$star: #fbb204;
$user: #b2b7b8;
$topbtnsnotactive: #c4c4c5;
$headerbtn: #e1e4ec;
$headerbtnfont: #30322e;
$phonecolor: #004b90;
$headerbtnfonthover: #105394;
$consultantbg: #edf3f4;
$consultantinfo : #9f9f9f;
$consultantbtn: #377fc2;
$modalcatalogfont: #4e5e72;
$footerbottomfont: #e9e9e9;
$mailcolor: #191918;
$footertitle: #2c2f2e;